*
{
margin:0px;
padding:0px;
box-sizing: border-box;
}


html
{
font-size: 16px;
}

#bloc_page
{
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;
}

body 
{
    background-color: white;
    font-family:'Raleway', sans-serif;
    color: #181818;
}

/* header */

header
{
    display: flex; 
    justify-content: space-between;

}

#logo 
{
    flex: 1;
    margin-top: 30px;
    margin-bottom: 30px;
}

nav ul 
{
    list-style-type: none;
    display: flex;
    margin-top: 50px;
}

nav li 
{
    margin-right: 50px;
}

nav a 
{
    color:black; 
    text-decoration: none;
    padding-top: 48px;
    padding-right: 10px;
    padding-left: 10px;

}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    /*comment mettre que le herbergement reste bleu */
}

.menu_inscription
{
    margin-top: 50px;
    text-decoration: none;
    font-weight: 700;
    color: #0065FC;
}

/* section */

#titre_2 h2
{
    padding-bottom: 8px;
}

/*bloc_recherche */

#bloc_recherche 
{
    padding-top: 20px;
    display: flex;

}


#filtre_icon_location
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

#filtre_recherche 
{
    display: flex;
    position: relative;
    left: -10px;
}

#marseille
{
    display: flex;
    padding-left: 10px;
}

#marseille input
{
    padding-left: 10px;
    font-weight: bold;
    border: 1px solid #F2F2F2;

}

#bloc_recherche a /*le texte recherche */
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0065FC;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 17px;
    padding-left: 12px;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    font-weight: bold;
}

#logo_recherche
{
    display: none;
}

/*bloc_filtre*/

#banniere_filtres
{
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: bold;
    flex-wrap: wrap;
}

#titre_filtre, .filtre /*space entre filtre et titre */
{
    padding-right: 30px;
}

.filtre /* icon et text */
{
    display: flex;
    justify-content: space-between;
    color:black; 
    text-decoration: none;
    padding: 10px;
    border: 2px solid;
    border-radius: 90px;
    border-color: #F2F2F2;
    margin-right: 20px;
}

#banniere_filtres a /* design pour le text */
{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black; 
    text-decoration: none;
}

/* symbole */


.filtre_icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.filtre .filtre_icon /* icon et text */
{
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: -10px;
}

.filtre a 
{
    display: flex;
    padding-left: 15px;
    padding-right: 10px;
    align-items: flex-end;
}

/* attention*/

#attention
{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 30px;
}

.filtre_icon_1 /*filtre icon */
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-color: #F2F2F2;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

#titre_attention
{
    padding-left: 10px;
}

/* section */

.hotels /*section */
{
  display:flex; 
  padding: 0px;

}

.hotels, .populaire
{ 
    border-radius: 20px;
}

.hotels .container /*herbergement*/
{
  display: flex;
  flex-wrap: wrap;
  padding-left: 1px;
}


.hebergement
{
    background-color: #F2F2F2;
    border-radius: 30px;
    margin-right: 35px;
    padding: 50px;
    padding-bottom: 30px;

}

.hebergement p
{
    padding: 15px;
}

.hebergement h1
{

    padding-bottom: 30px;
    padding-left: 15px;

}

.hotel_card
{
    display: flex;
    flex-direction: column;
      height: 230px;
      box-sizing: border-box;
      border: 5px solid #fff;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 0 7px #c1c1c1;
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 30px;
      flex: 30%; /*100 divise par 3 */
    
}

.hotel_card img
{
      width: 100%;
      height: 150px;
      object-fit: cover; /*couvre tout le conteneur, fit */
}


.hotel_description /*hotel et etoile */
{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-top: 10px;
    padding-left: 8px;
}

.hotel_description p1
{
    font-weight: bold;

}

.nuit_etoile p
{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1px;
}



/*section_populaires */

.populaires 
{
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 50px;
}

.populaires h1
{
    padding-bottom: 25px;
}

.titre_populaire
{
    display: flex;
    justify-content: space-between;
}

.populaireTab
{
    display: flex;
    flex-wrap: wrap;
}

.populaireCard
{
    display: flex;
    height: 145px;
    width: 400px;
    border: 5px solid #fff;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
}

.populaireCard img
{
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.populaireDescription
{
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    padding-left: 20px;
    padding-top: 4px;
}

.populaireDescription p
{
    margin-top: 8px;
    margin-bottom: 5px;
}

.populaireDescription p1
{
    padding-bottom: 15px;
}

.etoile_2
{
    padding-top: 20px;
}

/*activité*/ 

#activite
{
    padding-right: 50px;
}

#activite h1
{
    padding-top: 40px;
    padding-left: 50px;  
    padding-bottom: 20px;
}

#image_activite 
{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    padding-left: 50px;  
    padding-right: 50px; 
    padding-bottom: 30px;
}

.filtre_image_1 /*comme card */
{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    margin-right: 40px;
}

.filtre_image_1 img /*comme card */
{
        width: 100%;
        height: 340px;
        object-fit: cover; /*couvre tout le conteneur, fit */
}

.filtre_image_2 /*comme card */
{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 350px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    margin-right: 40px;
}

.filtre_image_2 img /*comme card */
{
        width: 100%;
        height: 145px;
        object-fit: cover; /*couvre tout le conteneur, fit */
}

.filtre_image_3 /*comme card */
{
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 350px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    margin-right: 40px;
}

.filtre_image_3 img

{
    width: 100%;
    height: 110px;
    object-fit: cover; /*couvre tout le conteneur, fit */
}

.filtre_image_4 /*comme card */
{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    margin-right: 40px;
}

.filtre_image_4 img
{
    width: 100%;
    height: 340px;
    object-fit: cover; /*couvre tout le conteneur, fit */
}

.filtre_image_5 /*comme card */
{
    display: flex;
    flex-direction: column;
    height: 185px;
    width: 350px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
}

.filtre_image_5 img
{
    width: 100%;
    height: 130px;
    object-fit: cover; /*couvre tout le conteneur, fit */
}

.filtre_image_6 /*comme card */
{
    display: flex;
    flex-direction: column;
    height: 185px;
    width: 350px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;

}

.filtre_image_6 img /*comme card */
{
    width: 100%;
    height: 130px;
    object-fit: cover; /*couvre tout le conteneur, fit */
}


.image2_image3
{
    display: flex;
    flex-direction: column;
}

.image5_image6
{
    display: flex;
    flex-direction: column;
}

#image_activite p
{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
}



/* footer */ 

#info_footer
{
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    padding-left: 50px;  
    padding-right: 50px; 

}

.footer_design
{
    margin-right: 300px;
    margin-top: 30px;
    padding:0px;
    margin-bottom: 30px;
}

.footer_design p
{
    font-weight: bolder;
    padding-bottom: 20px;
}

footer ul
{
    list-style-type: none;
    text-decoration: none;
    color:black; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

footer ul li
{
    padding-bottom: 8px;

}

footer a
{
    color:black; 
    text-decoration: none;
}


/* media queries */

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 1024px) /*tablette*/
{
  .hotel_card
  {
    flex: 40%;
  }

  .hotels{
      flex-direction: column;
  }
  .populaireTab
  {
      display: flex;
      flex-wrap: wrap;
  }

  .populaireCard
  {
      flex: 30%;
      margin-right: 10px;
  }

  .hotels .container
  {
      order: 3;
  }

}

 
@media (max-width: 731px) /* breakpoints des que il ya un truc qui change mettre breakcpoint */

{
  .populaireCard
  {
     flex: 100%;
  }
}

@media (max-width: 575px) 

{
    #bloc_page
{
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
}
    /* header */

    header
    {
        flex-direction: column;
    }

    nav 
    {
        order:3;
        margin-bottom: 25px;
        width: 100%;
    }

    #logo 
    {
        padding-left:20px;
    }
    
    .menu_inscription
    {
        margin-right: 20px;
        margin-top: -63px;
        align-self: flex-end;
    }


    nav ul 
    {

        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
        
        width: 100%;
    }

    nav li 
    {
        text-align: center;
        margin: 0;

        width: 50%;
        border-bottom: 3px solid  #F2F2F2;
        padding-bottom: 12px;
    }

    nav a:hover
    {
        border-top: none;
    }
    
    nav li:hover
{
    color: #0065FC;

    border-bottom: 3px solid #0065FC;
    
    
    /* padding-right: 50px;
    padding-left: 50px; */
    
    
}

#titre_2
{
    padding-left:20px;
}

/*bloc_recherche */

#bloc_recherche
{
    width: 100%;
    padding-left:20px;
}

#filtre_recherche
{
    width: 100%;
}

#marseille 
{
    width: 80%;
}

#marseille input
{
    width: 100%;
    
}

#filtre_recherche a
{
    display:none;
    max-width: 100%;
}

#logo_recherche
{
    display: flex;
    align-items: center;
    color: white;
    background-color: #0065FC;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 17px;
    padding-left: 17px;
    border-radius: 15px;
    position: relative;
    right:10px;
    
}


/* filtres */

#banniere_filtres
{
    padding-left:20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: bold;
}

.filtre /* icon et text */
{
    color:black; 
    text-decoration: none;
    padding: 10px;
    border: 2px solid;
    border-radius: 90px;
    border-color: #F2F2F2;
    margin-right: 20px;
    margin-top: 10px;
}

#attention
{
    padding-left:20px;
}

/* section */

.hotel_card 
  {
    flex: 100%;
  }

  .populaireCard
  {
      flex: 100%;
   }


.hotels /*section */
{
  display:flex; 
  padding: 0px;
}

/*section_populaires */


.populaires 
{
    order: 1;
    background-color: #F2F2F2;
    border-radius: 0px;
    padding: 20px;
    padding-top: 35px;

}

.populairesTab
{
    width: 100%;
}

.titre_populaire
{
    font-size: 1.2em;
}

.hebergement
{
    order: 2;
    background-color: white;
    border-radius: 0px;
    margin-right: 0px;
    padding-left:5px;
    padding-bottom: 0px;

}

.hebergement h1
{
    font-size: 1.4em;
    padding-left: 18px;

}


/*activité*/ 

#activite
{
    padding-right: 0px;
}
#activite h1
{
    font-size: 1.4em;
    padding-left: 20px;
    padding-bottom: 30px;

}

#image_activite
{
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    font-weight: bold;
    padding-left: 20px;  
    padding-right: 0px; 
}

#image_activite .filtre_image_1
{
    margin-right:20px;
    height: 200px;
    width: 100%;
}

.filtre_image_1 img

{
    
    width: 100%;
    height: 140px;
    object-fit: cover; /*couvre tout le conteneur, fit */
}

#image_activite .filtre_image_2
{
    height: 200px;
    width: 89%;
}

.filtre_image_2 img

{
    width: 100%;
    height: 140px;
    object-fit: cover; /*couvre tout le conteneur, fit */
}

#image_activite .filtre_image_3
{
    height: 200px;
    width: 89%;
}

.filtre_image_3 img

{
    width: 100%;
    height: 140px;
    object-fit: cover; /*couvre tout le conteneur, fit */
}

#image_activite .filtre_image_4
{
    height: 200px;
    width: 100%;
}
.filtre_image_4 img

{
    width: 100%;
    height: 140px;
    object-fit: cover; /*couvre tout le conteneur, fit */
}

#image_activite .filtre_image_5
{
    height: 200px;
    width: 89%;
}

.filtre_image_5 img

{
    width: 100%;
    height: 140px;
    object-fit: cover; /*couvre tout le conteneur, fit */
}

#image_activite .filtre_image_6
{
    height: 200px;
    width: 89%;
}

.filtre_image_6 img

{
    width: 100%;
    height: 140px;
    object-fit: cover; /*couvre tout le conteneur, fit */
}


#image_activite p
{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
}


/* footer */

#info_footer
{
    padding-left: 20px;
    flex:100%;
 }
/* footer */ 

#info_footer
{ 
    padding-top: 40px;
    padding-right: 0px; 
}

.footer_design
{
    margin-top: 0px;
    margin-right: 200px;
    margin-bottom: 40px;

}

.footer_design p
{
    font-weight: bolder;
    padding-bottom: 20px;
}

footer ul
{
    list-style-type: none;
    text-decoration: none;
    color:black; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer ul li
{
    padding-bottom: 8px;

}

footer a
{
    color:black; 
    text-decoration: none;
}


}